---
import { formatDate } from "@utils/index";
import type { Post } from "@utils/sanity";

interface Props {
  picks: Post[];
  estimateReadingTime: (charCount: number | undefined) => number;
}

const { picks, estimateReadingTime } = Astro.props;
---

<div class="blog-index__section-header">
  <h2 class="h2">Editor Picks</h2>
  <span>
    <a href="/blog/topic/editor-picks">
      View all
      <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 .333 5.825 1.508l4.65 4.659H.333v1.666h10.142l-4.65 4.659L7 13.667 13.667 7 7 .333Z" fill="#143D82"/>
      </svg>
    </a>
  </span>
</div>

<section class="blog-index blog-index-picks">
  {picks.length > 0 && (() => {
    const mainPick = picks[0];
    const displayDate = mainPick.publishedAt || mainPick._createdAt;
    const firstTopic = mainPick.topics?.filter(t => t != null)?.[0];
    const readingTime = estimateReadingTime((mainPick as any).wordCount);

    return (
      <article class="blog-index__post">
        {mainPick.featuredImage?.asset?.url && (
          <a href={`/blog/${mainPick.slug.current}`} class="blog-index__post-image blog-index__post-image-featured">
            <img
              src={mainPick.featuredImage.asset.url}
              alt={mainPick.featuredImage.alt || mainPick.title || ""}
              width="703"
              height="380"
              loading="eager"
              fetchpriority="high"
            />
          </a>
        )}
        <div class="blog-index__post-content">
          {firstTopic && (
            <a class="blog-header__tag" href={`/blog/topic/${firstTopic.slug?.current}`}>
              {firstTopic.name}
            </a>
          )}
          <h3 class="blog-index__main-editor-pick-title">
            <a href={`/blog/${mainPick.slug.current}`}>{mainPick.title}</a>
          </h3>
          <p class="blog-index__post-date text-secondary">
            <time datetime={displayDate}>
              Published: {formatDate(displayDate)}
            </time>
            <span> | </span>
            <span class="blog-post__readingtime">
              <span class="blog-post__readingtime-icon">
                <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M6 .667h4V2H6V.667Zm1.333 8.666v-4h1.334v4H7.333Zm5.354-4.406.946-.947c-.286-.34-.6-.66-.94-.94l-.946.947A5.975 5.975 0 0 0 8 2.667a6 6 0 1 0 6 6 5.975 5.975 0 0 0-1.313-3.74Zm-9.354 3.74A4.663 4.663 0 0 0 8 13.333a4.663 4.663 0 0 0 4.667-4.666A4.663 4.663 0 0 0 8 4a4.663 4.663 0 0 0-4.667 4.667Z" fill="#033180"/>
                </svg>
              </span>
              {readingTime} min. read
            </span>
          </p>
        </div>
      </article>
    );
  })()}

  <div class="blog-index-picks__sidebar">
    {picks.slice(1, 4).map((pick) => {
      const displayDate = pick.publishedAt || pick._createdAt;
      const firstTopic = pick.topics?.filter(t => t != null)?.[0];
      const readingTime = estimateReadingTime((pick as any).wordCount);

      return (
        <article class="blog-index__post blog-index__summary">
          <section class="blog-index__post-content">
            {firstTopic && (
              <a class="blog-header__tag" href={`/blog/topic/${firstTopic.slug?.current}`}>
                {firstTopic.name}
              </a>
            )}
            <h3 class="blog-index__summary-title">
              <a href={`/blog/${pick.slug.current}`}>{pick.title}</a>
            </h3>
            <p class="blog-index__post-date text-secondary">
              <time datetime={displayDate}>
                Published: {formatDate(displayDate)}
              </time>
              <span> | </span>
              <span class="blog-post__readingtime">
                <span class="blog-post__readingtime-icon">
                  <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6 .667h4V2H6V.667Zm1.333 8.666v-4h1.334v4H7.333Zm5.354-4.406.946-.947c-.286-.34-.6-.66-.94-.94l-.946.947A5.975 5.975 0 0 0 8 2.667a6 6 0 1 0 6 6 5.975 5.975 0 0 0-1.313-3.74Zm-9.354 3.74A4.663 4.663 0 0 0 8 13.333a4.663 4.663 0 0 0 4.667-4.666A4.663 4.663 0 0 0 8 4a4.663 4.663 0 0 0-4.667 4.667Z" fill="#033180"/>
                  </svg>
                </span>
                {readingTime} mins
              </span>
            </p>
            <div class="blog-index__post-content-meta"></div>
          </section>
        </article>
      );
    })}
  </div>
</section>

<style>
  .blog-index__section-header {
    align-items: center;
    border-bottom: 1px solid #cbd7ee;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 15px;
  }

  .blog-index__section-header h2 {
    font-size: 32px;
    color: #033180;
    margin: 0;
  }

  .blog-index__section-header h4 {
    color: #033180;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .blog-index__section-header span {
    display: flex;
    justify-content: end;
  }

  .blog-index__section-header span a {
    align-items: center;
    color: #033180;
    display: flex;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
  }

  .blog-index__section-header span a:hover {
    color: #0270e0;
  }

  .blog-index__section-header span a svg {
    margin: 0 10px;
  }

  .blog-index.blog-index-picks {
    display: flex;
    flex-direction: column;
    gap: 0 54px;
    grid-auto-columns: 1fr;
    grid-template-columns: 1.4fr 1fr;
    padding: 0;
  }

  @media (min-width: 992px) {
    .blog-index.blog-index-picks {
      display: grid;
    }
  }

  .blog-index.blog-index-picks .blog-index__post {
    border-radius: 0;
    box-shadow: none;
  }

  .blog-index.blog-index-picks > .blog-index__post {
    border-bottom: 1px solid #cbd7ee;
  }

  .blog-index.blog-index-picks > .blog-index__post:hover {
    transform: none;
  }

  @media (min-width: 992px) {
    .blog-index.blog-index-picks .blog-index__post {
      border-bottom: 0;
    }
  }

  .blog-index.blog-index-picks .blog-index__main-editor-pick-title {
    font-size: var(--size-4, 24px);
  }

  @media (min-width: 768px) {
    .blog-index.blog-index-picks .blog-index__main-editor-pick-title {
      font-size: 32px;
    }
  }

  .blog-index.blog-index-picks .blog-index__summary-title {
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  .blog-index.blog-index-picks .blog-index__summary-title a {
    color: #033180;
    text-decoration: none;
  }

  .blog-index.blog-index-picks .blog-index__summary-title a:hover {
    text-decoration: underline;
  }

  .blog-index.blog-index-picks > .blog-index__post .blog-index__post-content {
    padding: 24px 0;
  }

  .blog-index-picks__sidebar {
    padding: 0;
  }

  .blog-index-picks__sidebar h3 {
    padding: 8px 0;
  }

  .blog-index-picks .blog-index__summary {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    padding-bottom: 14px;
  }

  .blog-index-picks .blog-index__summary:not(:first-child) {
    padding: 28px 0 14px;
  }

  @media (max-width: 1080px) {
    .blog-index-picks .blog-index__summary:first-child {
      padding: 28px 0 0;
    }
  }

  .blog-index-picks .blog-index__summary:not(:last-child) {
    border-bottom: 1px solid #cbd7ee;
  }

  .blog-index-picks .blog-index__summary .blog-index__post-content {
    flex: auto;
    padding: 0 16px 0 0;
  }

  @media (max-width: 768px) {
    .blog-index-picks .blog-index__summary .blog-index__post-content {
      padding: 0;
    }
  }

  .blog-index-picks .blog-index__summary .blog-index__post-image {
    display: flex;
  }

  @media (max-width: 1080px) {
    .blog-index-picks .blog-index__summary .blog-index__post-image {
      display: none;
    }
  }

  @media (min-width: 992px) {
    .blog-index-picks .blog-index__summary .blog-index__post-image,
    .blog-index-picks .blog-index__summary .blog-index__post-image img {
      height: 80px;
      width: 130px;
    }
  }

  .blog-index-picks .blog-index__summary .blog-index__post-content-meta .blog-post__meta-name span {
    color: #033180;
    font-size: 16px;
  }

  @media (max-width: 768px) {
    .blog-index-picks .blog-index-picks__sidebar .blog-index__summary {
      display: flex;
    }

    .blog-index-picks .blog-index-picks__sidebar .blog-index__summary .blog-index__post-image img {
      height: 54px;
      width: 85px;
    }

    .blog-index-picks .blog-index-picks__sidebar .blog-index__summary .blog-index__post-content-meta .blog-post__meta-name {
      font-size: 14px;
      padding: 0 8px 0 0;
    }

    .blog-index-picks .blog-index-picks__sidebar .blog-index__summary .blog-index__post-content-meta .blog-post__meta-name span {
      font-size: 14px;
    }

    .blog-index-picks .blog-index-picks__sidebar .blog-index__summary .blog-index__post-content-meta .blog-post__meta-name .blog-post__readingtime {
      font-size: 14px;
      padding: 0 8px;
    }
  }

  @media (min-width: 992px) {
    .blog-index.blog-index-picks .blog-index-picks__sidebar .blog-index__post {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      justify-content: right;
      justify-items: baseline;
    }
  }

  .blog-index-picks h2 {
    font-size: 32px;
    padding: 8px 0 0;
  }

  @media (min-width: 992px) {
    .blog-index-picks h2 {
      font-size: 42px;
      padding: 8px 0 0;
    }
  }

  .blog-index-picks .blog-post__meta-avatar {
    display: flex;
    align-items: center;
  }

  .blog-index-picks .blog-post__meta-avatar img {
    height: 38px;
    width: 38px;
  }

  .blog-index-picks .blog-post__meta-name {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
  }

  .blog-index-picks .blog-post__meta-name span {
    color: #757382;
    font-size: 14px;
  }

  .blog-index-picks .blog-post__readingtime {
    position: relative;
  }

  .blog-index-picks .blog-post__separator {
    background: #eee;
    height: 31px;
    width: 1px;
  }
</style>
