---
import { formatDate } from "../utils";
import { urlFor, isImageReady } from "../utils/image";
import type { Post } from "../utils/sanity";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<div class="relative flex flex-col border-b border-gray-300 p-2 sm:border sm:border-b-0 first:rounded-t sm:last:border-b md:flex-row">
  {
    post.mainImage && isImageReady(post.mainImage) ? (
      <img
        class="h-58 w-full object-cover md:min-w-[366px] md:max-w-[366px] md:max-h-58"
        src={urlFor(post.mainImage).width(500).height(300).url()}
        alt={post.mainImage.alt || ""}
      />
    ) : (
      <div class="h-58 w-full bg-black md:min-w-[366px] md:max-w-[366px] md:max-h-58" />
    )
  }
  <div class="mx-1 md:mx-4">
    <h3 class="my-3 font-sans text-4xl font-extrabold leading-9 tracking-tight">
      <a
        class="text-black no-underline hover:opacity-80 hover:transition-opacity hover:duration-200 before:content-[''] before:absolute before:inset-0"
        href={`/post/${post.slug.current}`}
      >
        {post.title}
      </a>
    </h3>
    <p class="mt-0 font-serif text-xl leading-7">{post.excerpt}</p>
    <p class="mt-7 font-sans text-sm font-semibold">
      {formatDate(post._createdAt)}
    </p>
  </div>
</div>

